.body {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-BtvhGsHUH);
  transform: none;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 2px;
  min-width: 0;
  min-height: 0;
}
.reveal:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.exhibitionContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-gTqvkq28z);
  min-width: 0;
}
@media (max-width: 1024px) {
  .main {
    min-height: var(--token-WbTSzIRqk);
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: none;
  border-radius: 0px;
  padding: 0px 200px 80px;
  border-bottom: 1px none var(--token-BtvhGsHUH);
}
@media (max-width: 1024px) {
  .container {
    height: 100%;
    padding-left: var(--token-dHgsUYt_8);
    padding-right: var(--token-dHgsUYt_8);
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    background: none;
    min-height: 0;
  }
}
.ornament__uf3Ke:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .ornament__uf3Ke:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heading {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token-Jv2INYVGL);
  padding-left: var(--token-dHgsUYt_8);
  padding-right: var(--token-dHgsUYt_8);
  min-width: 0;
}
@media (max-width: 1024px) {
  .heading {
    padding-left: var(--token-UkDREu_E3);
    padding-right: var(--token-UkDREu_E3);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    padding-left: var(--token-WbTSzIRqk);
    padding-right: var(--token-WbTSzIRqk);
  }
}
.cmsEntryField__b722X:global(.__wab_instance) {
  color: var(--token-BtvhGsHUH);
  font-family: var(--token-TvuZ728Vy);
  font-weight: 300;
  font-size: var(--token-xYdbZrmIC);
  text-align: center;
  line-height: var(--token-MfchhSJdt);
  object-fit: cover;
  max-width: 100%;
  height: auto;
  padding: 0px;
}
@media (max-width: 1024px) {
  .cmsEntryField__b722X:global(.__wab_instance) {
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .cmsEntryField__b722X:global(.__wab_instance) {
    font-size: var(--token-tUERxeMkE);
    height: auto;
  }
}
.tag:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img___3Vt6W {
  object-fit: cover;
  height: 700px;
}
.img___3Vt6W > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img___3Vt6W {
    width: 100%;
    height: 900px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3Vt6W {
    height: 560px;
  }
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-Jv2INYVGL) 0px 0px;
}
.cmsEntryField__yYxf1:global(.__wab_instance) {
  color: var(--token-BtvhGsHUH);
  font-weight: 400;
  font-size: var(--token-2WP8gMlmf);
  line-height: var(--token-UqVYQQh9m);
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 26px;
  text-align: center;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox {
    align-self: stretch;
  }
}
.cmsEntryField___26IZ:global(.__wab_instance) {
  color: var(--token-BtvhGsHUH);
  font-weight: 400;
  font-size: var(--token-2WP8gMlmf);
  line-height: var(--token-UqVYQQh9m);
  object-fit: cover;
  max-width: 100%;
}
.text__byxdt {
  color: var(--token-BtvhGsHUH);
  font-weight: 400;
  font-size: var(--token-2WP8gMlmf);
  line-height: var(--token-UqVYQQh9m);
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: var(--token-xF5NQECh2);
  margin-right: var(--token-xF5NQECh2);
}
.cmsEntryField__cjwyk:global(.__wab_instance) {
  color: var(--token-BtvhGsHUH);
  font-weight: 400;
  font-size: var(--token-2WP8gMlmf);
  line-height: var(--token-UqVYQQh9m);
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
@media (max-width: 1024px) {
  .cmsEntryField__cjwyk:global(.__wab_instance) {
    align-self: stretch;
  }
}
.cmsEntryField__tv1P:global(.__wab_instance) {
  color: var(--token-BtvhGsHUH);
  font-weight: 400;
  font-size: var(--token-2WP8gMlmf);
  line-height: var(--token-UqVYQQh9m);
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
}
.cmsEntryField__aWtT9:global(.__wab_instance) {
  color: var(--token-BtvhGsHUH);
  font-family: var(--token-4GIYdzuk2);
  font-size: var(--token-GzrUqvfBE);
  object-fit: cover;
  max-width: 100%;
  align-self: stretch;
  margin-top: var(--token-Jv2INYVGL);
}
@media (max-width: 1024px) {
  .cmsEntryField__aWtT9:global(.__wab_instance) {
    align-self: stretch;
    padding: var(--token-WbTSzIRqk);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .cmsEntryField__aWtT9:global(.__wab_instance) {
    align-self: stretch;
    padding-left: var(--token-WbTSzIRqk);
    padding-right: var(--token-WbTSzIRqk);
    font-size: var(--token-2WP8gMlmf);
    margin-top: var(--token-Jv2INYVGL);
  }
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  margin-top: var(--token-UkDREu_E3);
  height: 80vh;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (max-width: 1024px) {
  .sliderCarousel:global(.__wab_instance) {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-height: 0;
  }
}
.img__yM63P {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  min-width: 0;
  border-right: 8px none var(--token-gTqvkq28z);
}
.img__yM63P > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__yM63P {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yM63P {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img___8EZkn {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  height: 80vh;
  min-width: 0;
}
.img___8EZkn > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img___8EZkn {
    height: 40vh;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___8EZkn {
    flex-grow: 0;
    flex-shrink: 0;
    height: 40vh;
    object-fit: cover;
    margin: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___8EZkn > picture > img {
    object-fit: cover;
  }
}
.img__fi6Gq {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img__fi6Gq > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__fi6Gq {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fi6Gq {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img__kVt7B {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img__kVt7B > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__kVt7B {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kVt7B {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img__pdxcp {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img__pdxcp > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__pdxcp {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pdxcp {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img__crnxN {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img__crnxN > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__crnxN {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__crnxN {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img__niUgs {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img__niUgs > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__niUgs {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__niUgs {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img__yoyJs {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img__yoyJs > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__yoyJs {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yoyJs {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img__m3CJg {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img__m3CJg > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__m3CJg {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__m3CJg {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.img___9Ep9I {
  object-fit: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
  margin-right: var(--token-xF5NQECh2);
  min-width: 0;
}
.img___9Ep9I > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img___9Ep9I {
    height: 40vh;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___9Ep9I {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40vh;
  }
}
.text___3Uus0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__cfUWy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ornament__aBn1Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.backButton:global(.__wab_instance) {
  position: sticky;
  top: auto;
  left: auto;
  bottom: 16px;
  z-index: 1;
  margin-top: 32px;
}
